.tituloPrincipal {
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 50px;
    font-style: arial;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.galeriaTitulo {
    display: grid;
    font-size: 50px;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    text-decoration: underline;

    .antesydespues {
        font-family: 'Bebas Neue', cursive;
    }
}

.videoIframe {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.divIframe {
    display: flex;
    align-items: center;
    justify-content: center;

    .iframeVideo {
        border-top: solid 5px #0623c4;
        border-right: solid 5px #0623c4;
        border-bottom: solid 5px #0623c4;
        border-left: solid 5px #0623c4;
    }
}