.tituloPrincipal {
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 50px;
    font-style: arial;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.descripcionDeLaPaginaInicio {
    font-size: 35px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.pcArmada {
    border-top: solid 5px black;
    border-right: solid 5px black;
    border-bottom: solid 5px black;
    border-left: solid 5px black;
}